	<h1>Free Food in the Greater College Park Area</h1>
	<hr>

	<article>
		<h1>Want to add your own deal?</h1>
		<a href="/create"><b>Add your own!</b></a>
		<hr>
	</article>

	<h2>Newest Free Food Deals:</h2>
	<hr>

{{#each deals}}

<article>
	<b>{{this.name}}</b> at <b>{{this.location}}</b> for <b>{{this.price}}</b>$<h3></h3>
	Here's what you get: <b>{{this.items}}</b><h4></h4>
	Available from <b>{{this.starts}}</b> until <b>{{this.ends}}</b><h4></h4>
	But, here's the catch: <b>{{this.catch}}</b>
	<hr>
</article>

{{/each}}
